html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", serif;
}

main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 30px;
  padding-right: 2vh;
}

.navbar ul {
  margin: 0 auto;
}

.menu-1 {
  background-color: #ffbc03;
}

.menu {
  background-color: #fc7121;
  justify-content: center;
}

.menu a {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.menu a:hover {
  color: #000;
}

.svg-menu {
  width: 30px;
}

.añadir-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.añadir-carrito .svg-carro {
  width: 30px;
  padding: 5px;
  margin-left: 5px;
  align-items: center;
}

/*Selector de kilos*/
.kilos input {
  display: none;
}

.kilos label {
  padding: 10px 15px;
  margin: 5px;
  border: 2px solid #000000;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
}

.kilos input:checked + label {
  background-color: #fc7121;
  color: #ffffff;
  border: 2px solid #fc7121;
}
/*/Selector de kilos*/

/*Buscador*/
.buscador-form {
  display: flex;
  align-items: center;
  border: 2px solid #cccccc;
  border-radius: 25px;
  padding: 5px;
  width: 30%;
  background: #ffffff;
}
.buscador-form input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
}
.buscador-form button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/*Footer*/

footer {
  background: #fc7121;
  color: #ffffff;
  padding: 10px;
}

.susc-footer {
  justify-content: center;
  padding: 2vh;
}

footer h3 {
  font-size: 1rem;
  font-weight: 400;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #000;
  text-decoration: none;
}

/*Suscripción*/
.formulario-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 20px;
}

.susc-form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  width: 40%;
  background: #ffffff;
}

.susc-form input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
}

/*Secciones del footer*/

.secc-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.caja-footer {
  background-color: transparent;
  margin: 10px;
  width: 22%;
  padding: 1vh;
}
.caja-footer-2 {
  background-color: transparent;
  margin: 10px;
  width: 45%;
  padding: 1vh;
}

/*.caja-footer ul {
  display: block;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.caja-footer li {
  color: #333;
}

.caja-footer h3 {
  font-family: "Nunito", serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
}

.caja-footer a {
  color: #ffffff;
  text-decoration: none;
}

.caja-footer a:hover {
  color: black;
}
*/
/*Main*/
/*Banner*/
.banner-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #ffffff;
  background: linear-gradient(135deg, #ffbc03, #f7ead7);
}

.banner-bg {
  background: linear-gradient(135deg, #ffbc03, #f7ead7);
  color: #ffffff;
}

.banner-bg h1 {
  font-size: 2rem;
  font-weight: 700;
}

.banner-bg p {
  font-size: 1.5rem;
  font-weight: 400;
}

.banner-bg a {
  color: #000;
  text-decoration: none;
}

.banner-bg img {
  display: block;
  width: 100%;
}

.banner-contenido {
  display: inline-block;
  padding: 30px;
}

.banner-contenido img {
  display: block;
  height: 100vh;
}

.banner-hero h1 {
  font-size: 2rem;
  font-weight: 700;
}

.banner-hero p {
  font-size: 1.5rem;
  font-weight: 400;
}

/*Secciones del main*/
.seccion {
  max-width: 1200px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 0 auto;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 0 auto;
}

.productos .secc-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.container h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-top: 10px;
}

.secc-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.secc-container h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
}

.secc-container h3:hover {
  color: #fc7121;
}

.secc-container p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
}

.secc-container a {
  color: #fff;
  text-decoration: none;
}

.caja-1 {
  border: 2px solid #f5f5f5;
  border-radius: 15px;
  width: 100%;
  padding: 1.3vh;
}

.caja-1 h3 {
  font-size: 1.2rem;
}

.productos .caja-1 {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  width: 21%;
  border: none;
  padding: 1.5vh;
}

.destacado {
  background-color: #ffbc03;
}

.caja-1 img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}

.caja-2 {
  background-color: transparent;
  width: 100%;
  padding: 1vh;
}

.caja-2 img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}

.caja-2 h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

/*Formulario de contacto*/
.form-container {
  font-family: "Nunito", serif;
  width: 100%;
  background-color: transparent;
  color: #000;
}

.form-container label {
  font-family: "Nunito", serif;
  display: block;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.form-container input,
textarea {
  font-family: "Nunito", serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container ::placeholder {
  font-family: "Nunito", serif;
  font-size: 0.9rem;
}

/*Horarios*/

.horarios ul {
  display: block;
}

.horarios ul > li {
  text-align: left;
}

.horarios h3 {
  display: contents;
}

/*Botones*/
.boton-primario {
  background-color: #ffbc03;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.boton-primario:hover {
  background-color: #e5a000;
}

.banner-contenido a {
  color: #000;
  text-decoration: none;
}

.boton-conversion {
  background-color: #fc7121;
  color: #ffffff !important;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.boton-conversion:hover {
  background-color: #e5a000;
}

.bg-tienda {
  background-color: #fc7121;
}

.bg-tienda a {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.bg-tienda a:hover {
  color: #333;
  transition: color 0.3s ease-in-out, transform 0.3s;
}

.hover-efecto:hover {
  color: #333;
  transition: color 0.3s ease-in-out, transform 0.3s;
}

/*GRID PARA PRODUCTOS*/
.contenedor-filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.column-1 {
  grid-column: span 1;
}
.column-2 {
  grid-column: span 2;
}
.column-3 {
  grid-column: span 3;
}
.column-4 {
  grid-column: span 4;
}
.column-5 {
  grid-column: span 5;
}
.column-6 {
  grid-column: span 6;
}
.column-7 {
  grid-column: span 7;
}
.column-8 {
  grid-column: span 8;
}
.column-9 {
  grid-column: span 9;
}
.column-10 {
  grid-column: span 10;
}
.column-11 {
  grid-column: span 11;
}
.column-12 {
  grid-column: span 12;
}

.column-full--nosotros {
  grid-column: span 6;
}

@media (max-width: 768px) {
  .contenedor-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    grid-column: span 2;
  }
  .column-full--nosotros {
    grid-column: span 4;
  }
}

.boton-filtro-orden {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border: solid 1px #ffbc03;
  border-radius: 10px;
  cursor: pointer;
}

.boton-filtro-orden:hover {
  background-color: #e5a000;
  transition: color 0.3s ease-in-out, transform 0.3s;
}

.orden-productos li {
  padding: 5px;
}

.orden-productos a {
  text-decoration: none;
  text-align: left;
  color: #000;
  padding: 5px;
}

.orden-productos a:hover {
  color: #fc7121;
  transition: color 0.1s ease-in-out, transform 0.3s;
}

.podcast {
  border-radius: 12px;
}
