@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Variables Color */
/* Variables Tamaño de fuentes */
/* Variables para grid */
.bg-tienda {
  background-color: #fc7121;
}
.bg-tienda a {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
.bg-tienda a:hover {
  color: #333;
  transition: color 0.3s ease-in-out, transform 0.3s;
}

/* mixin productos */
/* Banner */
.banner-bg {
  background: linear-gradient(135deg, #ffbc03, #f7ead7);
  color: #ffffff;
}
.banner-bg h1 {
  font-size: 2rem;
  font-weight: 700;
}
.banner-bg p {
  font-size: 1.5rem;
  font-weight: 400;
}
.banner-bg img {
  display: block;
  width: 100%;
}

/* Categorías homepage */
.secc-container a {
  text-decoration: none;
  cursor: pointer;
}
.secc-container .destacado {
  background-color: #ffbc03;
}
.secc-container .caja-1 {
  border: 2px solid #f5f5f5;
  border-radius: 15px;
  width: 100%;
  padding: 1.3vh;
}
.secc-container .caja-1 h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.secc-container .caja-1 h3:hover {
  color: #fc7121;
}
.secc-container .caja-1 img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}

.caja-2 {
  width: 100%;
  padding: 1.3vh;
}
.caja-2 h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.caja-2 h3:hover {
  color: #fc7121;
}
.caja-2 img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}

/* Grilla de productos (filtros y orden) */
.orden-productos li {
  padding: 5px;
}
.orden-productos a {
  text-decoration: none;
  text-align: left;
  color: #000;
  padding: 5px;
}
.orden-productos a:hover {
  color: #fc7121;
  transition: color 0.1s ease-in-out, transform 0.3s;
}

/* producctos */
.caja-1 {
  cursor: pointer;
  border: 2px solid #f5f5f5;
  border-radius: 15px;
  width: 100%;
  padding: 1.3vh;
}
.caja-1 img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}
.caja-1 h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.caja-1 h3:hover {
  color: #fc7121;
}

footer {
  background: #fc7121;
  color: #ffffff;
  padding: 10px;
}
footer h3 {
  font-size: 1rem;
  font-weight: 400;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #000;
}

.form-container {
  width: 100%;
  background-color: transparent;
  color: #000;
}
.form-container label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.kilos input {
  display: none;
}
.kilos label {
  padding: 10px 15px;
  margin: 5px;
  border: 2px solid #000000;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
}
.kilos input:checked + label {
  background-color: #fc7121;
  color: #ffffff;
  border: 2px solid #fc7121;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", serif;
}
body .logo {
  height: 30px;
  padding-right: 2vh;
}
body main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

.boton, .boton-primario {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.boton-primario {
  background-color: #ffbc03;
  color: #000;
}
.boton-primario:hover {
  background-color: #e5a000;
}

.boton-conversion {
  background-color: #fc7121;
  color: #ffffff !important;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.boton-conversion:hover {
  background-color: #e5a000;
}

.boton-filtro-orden {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border: solid 1px #ffbc03;
  border-radius: 10px;
  cursor: pointer;
}
.boton-filtro-orden:hover {
  background-color: #e5a000;
  transition: color 0.3s ease-in-out, transform 0.3s;
}

.hover-efecto:hover {
  color: #333;
  transition: color 0.3s ease-in-out, transform 0.3s;
}

.añadir-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.añadir-carrito .svg-carro {
  width: 30px;
  padding: 5px;
  margin-left: 5px;
  align-items: center;
}

.secc-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Grid */
.contenedor-filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.column-1 {
  grid-column: span 1;
}

.column-2 {
  grid-column: span 2;
}

.column-3 {
  grid-column: span 3;
}

.column-4 {
  grid-column: span 4;
}

.column-5 {
  grid-column: span 5;
}

.column-6 {
  grid-column: span 6;
}

.column-7 {
  grid-column: span 7;
}

.column-8 {
  grid-column: span 8;
}

.column-9 {
  grid-column: span 9;
}

.column-10 {
  grid-column: span 10;
}

.column-11 {
  grid-column: span 11;
}

.column-12 {
  grid-column: span 12;
}

.column-full--nosotros {
  grid-column: span 6;
}

@media (max-width: 768px) {
  .contenedor-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .column-1 {
    grid-column: span 2;
  }
  .column-2 {
    grid-column: span 2;
  }
  .column-3 {
    grid-column: span 2;
  }
  .column-4 {
    grid-column: span 2;
  }
  .column-5 {
    grid-column: span 2;
  }
  .column-6 {
    grid-column: span 2;
  }
  .column-7 {
    grid-column: span 2;
  }
  .column-8 {
    grid-column: span 2;
  }
  .column-9 {
    grid-column: span 2;
  }
  .column-10 {
    grid-column: span 2;
  }
  .column-11 {
    grid-column: span 2;
  }
  .column-12 {
    grid-column: span 2;
  }
  .column-full--nosotros {
    grid-column: span 4;
  }
}
.container h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
