@use 'variables';

.bg-tienda {
    background-color: variables.$background-color;

    a {
        font-size: 1.1rem;
        color: variables.$blanco;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: #333;
            transition: color 0.3s ease-in-out, transform 0.3s;
        }
    }
}