@use 'variables';
@use 'mixins';
@use 'keyframes';


/* Banner */

.banner-bg {
    background: linear-gradient(135deg, variables.$primary-color, #f7ead7);
    color: variables.$blanco;

    p {
        font-size: variables.$p-medium;
        font-weight: 400;
    }

    img {
        display: block;
        width: 100%;
    }
}


/* Categorías homepage */
.secc-container {
    a {
        text-decoration: none;
        cursor: pointer;
    }

    .destacado {
        background-color: variables.$primary-color;
    }

    .caja-1 {
        @include mixins.caja-borde (1px solid variables.$primary-color, 15px, 100%, 1.3vh);
    }
}

.caja-2 {
    @include mixins.caja-sin-borde (100%, 0.2vh);
}

/* Grilla de productos (filtros y orden) */



.orden-productos {
    li {
        padding: 5px;
    }

    a {
        text-decoration: none;
        text-align: left;
        color: variables.$negro;
        padding: 5px;

        &:hover {
            color: variables.$background-color;
            transition: color 0.1s ease-in-out, transform 0.3s;
        }
    }

}

/* producctos */

.caja-1 {
    cursor: pointer;
    @include mixins.caja-productos;
}
/* página en construcción */
.pagina-bg {
    animation: color-fondo 2s linear infinite alternate both;

    .perrito-w {
        img {
            clip-path: circle(38.3% at 50% 50%);
            transition: transform 0.7s ease-in-out;
            z-index: 1;

            &:hover {
                transform: scale(1.2)
            }
        }
    }

}