@use 'variables';



@mixin caja-borde ($borde){
    border: $borde;
}

@mixin caja-sin-borde ($width, $padding) {
    width: $width;
    padding: $padding;

}



@mixin caja-productos {
    border: 2px solid variables.$gris;

}


/* mixin productos */

