@use 'variables';

/* 
Acá hice el mixin de esta forma y me funcionó perfecto pero creo que si quisiera hacerlo más personalizable en el futuro no me sirve
@mixin h3-caja {
    font-size: variables.$h3-grid;
    font-weight: 600;
    color: #000;
    text-decoration: none;

    &:hover {
        color: variables.$background-color;
    }
} */

/* Esta formula me va a funcionar para el futuro en los h3 */
@mixin h3-caja ($font-size, $font-weight, $color, $tex-decoration){
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    text-decoration: $tex-decoration;
    &:hover {
        color: variables.$background-color;
    }

}

/* 
Al igual que en los h3 de cajas, las imágenes de caja preferí cambiarlas a un modo más personalizado para el futuro

@mixin img-caja {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
} */

/* Versión "mejorada"" */

@mixin img-caja ($display, $justify-content, $border-radius, $width) {
    display: $display;
    justify-content: $justify-content;
    border-radius: $border-radius;
    width: $width;
}


/* @mixin caja-borde {
    border: 2px solid #f5f5f5;
    border-radius: 15px;
    width: 100%;
    padding: 1.3vh;

    h3 {
        @include h3-caja (variables.$h3-grid, 600, #000, none);
    }

    img {
        @include img-caja (flex, center, 10px, 100%);
    }
} */

@mixin caja-borde ($borde, $border-radius, $width, $padding){
    border: $borde;
    border-radius: $border-radius;
    width: $width;
    padding: $padding;
}

@mixin caja-sin-borde ($width, $padding) {
    width: $width;
    padding: $padding;
    h3 {
        @include h3-caja (variables.$h3-grid, 600, #000, none);
    }
    
    img {
        @include img-caja (flex, center, 10px, 100%);
    }
}

/* @mixin caja-c-borde {

    .caja-1 {
    @include caja-borde(4px solid #000, 15px, 100%, 1.3vh);
}
h3 {
    @include h3-caja (variables.$h3-grid, 600, #000, none);
}

img {
    @include img-caja (flex, center, 10px, 100%);
}


} */


/* @mixin caja-sin-borde {
    width: 100%;
    padding: 1.3vh;

    h3 {
        @include h3-caja (variables.$h3-grid, 600, #000, none);
    }

    img {
        @include img-caja (flex, center, 10px, 100%);
    }
} */

@mixin caja-productos {
    border: 2px solid variables.$gris;
    border-radius: 15px;
    width: 100%;
    padding: 1.3vh;

    img {
        @include img-caja (flex, center, 10px, 100%);
    }

    h3 {
        @include h3-caja (variables.$h3-grid, 600, variables.$negro, none);
    }
}

/* mixin productos */

