/* Variables Color */
$primary-color: #ffbc03;
$background-color: #fc7121;
$hover-color: #e5a000;
$blanco: #ffffff;
$negro: #000000;
$gris: #f5f5f5;

/* Variables Tamaño de fuentes */
$h1-home: 2rem;
$h1-other: 1.5rem;
$h3-grid: 1.2rem;
$h3-footer: 1rem;
$p-medium: 1.5rem;
$p-small: 1rem;

/* Variables para grid */
$column-desktop: 12;
$column-mobile: 4;
$gap-size: 15px;



