<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--Iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=storefront" />

    <!--Mi estilo-->
    <link rel="stylesheet" href="../css/style.css">

    <!--GoogleFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--NAV-->
    <header>
        <nav class="navbar navbar-expand-lg bg-tienda sticky-top container-fluid py-3">
            <div class="container">
                <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.svg" width="50"
                        alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Primera lista-->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center align-items-center ">
                        <li class="nav-item">
                            <a class="px-2" href="./perro.html">Perros</a>
                        </li>
                        <li class="nav-item">
                            <a class="px-2" href="./pagina-en-mantencion.html">Gatos</a>
                        </li>
                        <li class="nav-item">
                            <a class="px-2" href="./pagina-en-mantencion.html">Marcas</a>
                        </li>


                    </ul>
                    <!--Busqueda-->
                    <form class="d-flex px-5 m-2 mb-lg-0 w-100" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                        <button class="boton-primario " type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <!--Segunda lista-->
                    <ul class="navbar-nav d-flex justify-content-center text-center">

                        <li class="nav-item">
                            <a class="nav-link active link-light" aria-current="page" href="./tiendas.html"><i
                                    class="bi bi-shop fs-2  hover-efecto"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active link-light" aria-current="page" href="./pagina-en-mantencion.html"><i
                                    class="bi bi-person fs-2 hover-efecto"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active link-light" aria-current="page" href="./pagina-en-mantencion.html"><i
                                    class="bi bi-cart2 fs-2 hover-efecto"></i></a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!--MAIN-->
    <main>
        <section class="container-fluid">
            <div class="container py-3">
                <h1>Nosotros</h1>
                <div class="contenedor-grid py-5 align-items-center">
                    <div class="column-full--nosotros caja-2">
                        <h3>Queremos ser el mejor partner de tu mascora ❤️</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quaerat nam doloribus velit
                            omnis ratione odio, dicta accusantium aliquam vitae corrupti quidem dolore tenetur autem quo
                            ducimus iure libero quas?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, rem nobis temporibus fuga
                            laboriosam porro officiis similique unde at tempore nesciunt odio? Mollitia odio perferendis ad
                            magnam esse tempore consequatur!
                            Veniam, est. Tempora culpa totam, repudiandae cum dolor blanditiis nobis illo esse aspernatur
                            amet sit eum rem minima quos quasi iure! Vero quos consequatur sed perferendis ut, minima fugit
                            a!
                        </p>
    
                        <h3>Te recomendamos este Podcast</h3>
    
                        <iframe class="podcast"
                            src="https://open.spotify.com/embed/show/6L4x3sJBRamoFrWfl3oj4s?utm_source=generator"
                            width="100%" height="152" frameBorder="0" allowfullscreen=""
                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                            loading="lazy"></iframe>
                    </div>
    
    
                    <div class="column-full--nosotros caja-2 "><img src="../assets/img/accesorios.jpg" alt="Cachorro" title="Cachorro">
    
                    </div>
                    </a>
    
                </div>
            </div>
            
            
        </section>




    </main>

    <!--FOOTER-->
    <footer class="container-fluid">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none"
                        href="../index.html" aria-label="Bootstrap">
                        <img class="logo" src="../assets/img/logo.svg" alt="">
                        <span class="fs-5">Tienda de Mascotas</span>
                    </a>
                    <ul class="list-unstyled small">
                        <li class="mb-2">Somos una tienda creada con cariño para tu mascota. Un espacio donde
                            encontrarás lo mejor para su bienestar y felicidad.</li>
                        <li class="mb-2"> ¡Ven a conocernos!</li>

                    </ul>
                </div>
                <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                    <h3>Acerca de</h3>
                    <ul class="list-unstyled">
                        <li><a href="./nosotros.html">Nosotros</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>

                    </ul>
                </div>
                <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                    <h3>Acerca de</h3>
                    <ul class="list-unstyled">
                        <li><a href="./nosotros.html">Nosotros</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>

                    </ul>
                </div>
                <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                    <h3>Acerca de</h3>
                    <ul class="list-unstyled">
                        <li><a href="./nosotros.html">Nosotros</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>

                    </ul>
                </div>

            </div>
        </div>


        <div class="container border-top py-4">
            <div class="align-items-center row">
                <div class="text-lg-start text-center mb-2 mb-lg-0 col-lg-5">
                    <ul class="mb-0 undefined list-inline">
                        <li class="text-ligth list-inline-item">Medios de pago</li>
                        <li class="list-inline-item text-center"><img
                                src="https://img.icons8.com/?size=100&id=nTLVtpxsNPaz&format=png&color=000000"
                                alt="Mercado pago" class="w-25">
                        <li class="list-inline-item text-center "><img
                                src="https://img.icons8.com/?size=100&id=13608&format=png&color=000000" alt="Visa"
                                class="w-25"></li>
                        <li class="list-inline-item text-center "><img
                                src="https://img.icons8.com/?size=100&id=13610&format=png&color=000000" alt="Mastercard"
                                class="w-25"></li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="container border-top py-4">
            <div class="align-items-center row">
                <div class="col-md-6 "><span class="small text-ligth">© 2025 <span id="copyright"></span> Tienda de
                        mascotas.</span></div>
                <div class="col-md-6">
                    <ul class="list-inline text-md-end mb-0 small mt-3 mt-md-0">
                        <li class="list-inline-item text-ligth ">Síguenos en</li>
                        <li class="me-2 list-inline-item"><a class="btn-xs btn-social btn-icon" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
                        
                        <li class="me-2 list-inline-item text-ligth "><a class="btn-xs btn-social btn-icon " href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!--/FOOTER-->


    <!--Script de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>