<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <!--Mi estilo-->
    <link rel="stylesheet" href="../css/style.css">

    <!--GoogleFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--NAV-->
    <header>
        <nav class="menu-1">
            <a href="../index.html"><img class="logo" src="../assets/img/logo.svg" alt="">

            </a>

            <form action="#" method="GET" class="buscador-form">
                <input type="text" placeholder="Buscar..." name="q">
                <button type="submit">🔍</button>
            </form>

            <ul>
                <li><a href="../views/tiendas.html"> <img src="../assets/img/navigation.svg" class="svg-menu" alt="">
                    </a></li>
                <li><a href="../views/contacto.html"><img src="../assets/img/cart.svg" class="svg-menu" alt="">
                    </a></li>
                <li><a href="../views/perfil.html"> <img src="../assets/img/user.svg" class="svg-menu" alt="">
                    </a></li>

            </ul>

        </nav>
        <nav class="menu">
            <ul>
                <li><a href="../views/perro.html">Perros</a></li>
                <li><a href="../views/gato.html">Gatos</a></li>
                <li><a href="../views/marcas.html">Marcas</a></li>

            </ul>
        </nav>
    </header>
    <!--MAIN-->
    <main>




        <section class="seccion">
            <h2>Nosotros</h2>
            <div class="secc-container">
                    <div class="caja-2">
                        <h3>Queremos ser el mejor partner de tu mascora ❤️</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quaerat nam doloribus velit
                            omnis ratione odio, dicta accusantium aliquam vitae corrupti quidem dolore tenetur autem quo
                            ducimus iure libero quas?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, rem nobis temporibus fuga laboriosam porro officiis similique unde at tempore nesciunt odio? Mollitia odio perferendis ad magnam esse tempore consequatur!
                            Veniam, est. Tempora culpa totam, repudiandae cum dolor blanditiis nobis illo esse aspernatur amet sit eum rem minima quos quasi iure! Vero quos consequatur sed perferendis ut, minima fugit a!
                            </p>

                            <h3>Te recomendamos este Podcast</h3>

                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/6L4x3sJBRamoFrWfl3oj4s?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                
                
                    <div class="caja-2"><img src="../assets/img/accesorios.jpg" alt="Cachorro">
                        
                    </div>
                </a>

            </div>
        </section>




    </main>

    <!--FOOTER-->
    <footer>


        <div class="secc-footer">
            <div class="caja-footer">
                <a href="../index.html"><img class="logo" src="../assets/img/logo.svg" alt="Logo">
                </a>

            </div>
            <div class="caja-footer">
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>

                </ul>
            </div>
            <div class="caja-footer">
                <h3>Lorem ipsum</h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>
            <div class="caja-footer">
                <h3>Lorem ipsum</h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>

                </ul>
            </div>
        </div>

        <div class="formulario-container">
            <h3>Suscribite para recibir novedades 🤩</h3>
            <form action="" method="post" class="susc-footer susc-form">
                <input type="email" name="email" placeholder="tumail@mail.com" id="email">
                <button class="boton-primario" type="submit">Suscribete</button>
            </form>
            <h3> Todos los derechos reservados.</h3>
        </div>
    </footer>

    <!--
    
    Entrega 1
    Carpeta/assets
    Carpeta/css/styles.css
    Carpeta/pages/
    wirefraes link a figma + img descargada

    

    -->



</body>

</html>