<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bravery - Alimento para Perro adulto - 7 a 12 kilos</title>

    <!--Mi estilo-->
    <link rel="stylesheet" href="../css/style.css">

    <!--GoogleFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--NAV-->
    <header>
        <nav class="menu-1">
            <a href="../index.html"><img class="logo" src="../assets/img/logo.svg" alt="">

            </a>

            <form action="#" method="GET" class="buscador-form">
                <input type="text" placeholder="Buscar..." name="q">
                <button type="submit">🔍</button>
            </form>

            <ul>
                <li><a href="../views/tiendas.html"> <img src="../assets/img/navigation.svg" class="svg-menu" alt="">
                    </a></li>
                <li><a href="../views/contacto.html"><img src="../assets/img/cart.svg" class="svg-menu" alt="">
                    </a></li>
                <li><a href="../views/perfil.html"> <img src="../assets/img/user.svg" class="svg-menu" alt="">
                    </a></li>

            </ul>

        </nav>
        <nav class="menu">
            <ul>
                <li><a href="../views/perro.html">Perros</a></li>
                <li><a href="../views/gato.html">Gatos</a></li>
                <li><a href="../views/marcas.html">Marcas</a></li>

            </ul>
        </nav>
    </header>
    <!--MAIN-->
    <main>




        <section class="seccion">
         
            <div class="secc-container">
                <div class="caja-2"><img src="../assets/img/alimento.jpg" alt="Alimento para perro - Bravery">
                </div>
                <div class="caja-2">
                    <p>Bravery</p>
                    <h3>Alimento para Perro adulto - 7 a 12 kilos</h3>
                    Código: 12345-678
                    <h3>$26.990 - 52.180</h3>
                    <p>Alimento completo para perros adultos de razas medianas y grandes.
                    </p>

                    <p><b>Selecciona el peso:</b></p>
                    <div class="kilos">
                        <input type="radio" id="7Kilos" name="Kilos" value="7 Kilos">
                        <label for="7Kilos">7 Kilos</label>
                    
                        <input type="radio" id="12Kilos" name="Kilos" value="12 Kilos">
                        <label for="12Kilos">12 Kilos</label>
                    
                        
                    </div>
                    <br> <br>
                    <div >
                    <a class="añadir-carrito"  href="#"><button class="boton-conversion">Añadir al Carrito <span><img src="../assets/img/cart.svg" class="svg-carro" alt=""></span> </a>
                    </div>
                </div>



               

            </div>
        </section>




    </main>

    <!--FOOTER-->
    <footer>


        <div class="secc-footer">
            <div class="caja-footer">
                <a href="../index.html"><img class="logo" src="../assets/img/logo.svg" alt="Logo">
                </a>

            </div>
            <div class="caja-footer">
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>

                </ul>
            </div>
            <div class="caja-footer">
                <h3>Lorem ipsum</h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>
            <div class="caja-footer">
                <h3>Lorem ipsum</h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>

                </ul>
            </div>
        </div>

        <div class="formulario-container">
            <h3>Suscribite para recibir novedades 🤩</h3>
            <form action="" method="post" class="susc-footer susc-form">
                <input type="email" name="email" placeholder="tumail@mail.com" id="email">
                <button class="boton-primario" type="submit">Suscribete</button>
            </form>
            <h3> Todos los derechos reservados.</h3>
        </div>
    </footer>

    <!--
    
    Entrega 1
    Carpeta/assets
    Carpeta/css/styles.css
    Carpeta/pages/
    wirefraes link a figma + img descargada

    

    -->



</body>

</html>